.new{
    display: flex;
    width: 100%;

    .newContainer{
        flex: 6;
        .bottom{
            padding: 20px;
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.5);
            box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.5);
            margin: 20px;
            
            h1{
                color: lightgray;
                font-size: 30px;
                margin-bottom: 20px;
                text-align: center;
            }
            form{
                display: flex;
                flex-wrap: wrap;
                align-items: flex-start;
                justify-content:space-between;
                margin:10px 20px;

                .formInput{
                    width: 40%;
                    margin-bottom: 10px;
                    label{
                        color: gray;
                        font-weight: bold;
                    }
                    input{
                        width: 100%;
                        padding: 10px;
                        border-radius: 5px;
                        color: gray;
                        font-size: 16px;
                        border: 1px solid lightgray;
                        outline: none;
                    }

                }
                textArea{
                    width: 100%;
                    border-radius: 5px;
                    font-size: 16px;
                    border: 1px solid lightgray;
                    color: lightgray;
                    outline: none;
                    margin-bottom: 10px;
                }

                button{
                    padding: 10px;
                    background-color: #fbb03b;
                    border: none;
                    border-radius: 5px;
                    width: 70%;
                    font-size: 16px;
                    font-weight: bold;
                }
            }

        }
    }
}